/* =======================================
   FOODSYNC - ETIQUETA IMPRESSÃO
======================================= */


.etiqueta-preview{
    margin-top:30px;
}


.etiqueta{

    width:80mm;
    min-height:50mm;

    background:white;

    border:1px solid #000;

    padding:5mm;

    box-sizing:border-box;

    font-family:Arial, sans-serif;

    position:relative;

}



.etiqueta-logo{

    font-size:11px;

    font-weight:bold;

    text-align:center;

    border-bottom:1px solid #000;

    padding-bottom:3px;

    margin-bottom:5px;

}



#nomeEtiqueta{

    font-size:18px;

    font-weight:bold;

    text-align:center;

    text-transform:uppercase;

    margin:6px 0;

}



.etiqueta p{

    font-size:12px;

    margin:4px 0;

}



#qrcodeEtiqueta{

    position:absolute;

    right:4mm;

    bottom:3mm;

}



#responsavelEtiqueta{

    font-weight:bold;

}



/* =======================================
   IMPRESSÃO
======================================= */


@media print{


body *{

    visibility:hidden;

}



#etiquetaGerada,
#etiquetaGerada *{

    visibility:visible;

}



#etiquetaGerada{

    position:absolute;

    left:0;

    top:0;

}



button{

    display:none;

}


}

/* =======================================
   IMPRESSÃO ETIQUETA 80x50mm
======================================= */

@media print {

    @page {

        size: 80mm 50mm portrait;

        margin: 0;

    }


    html, body {

        width:80mm;

        height:50mm;

        margin:0;

        padding:0;

    }


    body * {

        visibility:hidden;

    }


    #etiquetaGerada,
    #etiquetaGerada * {

        visibility:visible;

    }


    #etiquetaGerada {

        position:absolute;

        left:0;

        top:0;

        width:80mm;

        height:50mm;

        transform:none;

    }


    button {

        display:none !important;

    }

}

/* =======================================
   TAMANHO QR CODE
======================================= */

#qrcodeEtiqueta img {

    width:80px !important;

    height:80px !important;

}