/* =======================================
   FOODSYNCH - ETIQUETAS
======================================= */



.etiqueta-preview {


    background: #ffffff;


    padding: 25px;


    border-radius: 15px;


    margin-top: 25px;


    box-shadow: 0 4px 12px rgba(0,0,0,0.08);


}





.etiqueta {


    width: 352px;


    height: 180px;


    border: 2px solid #000;


    background: white;


    padding: 15px;


    box-sizing: border-box;


    font-family: Arial, sans-serif;


    text-align: center;


    margin-bottom: 20px;



}




.etiqueta-logo {


    font-size: 18px;


    font-weight: bold;


    margin-bottom: 8px;


}




.etiqueta h3 {


    font-size: 22px;


    margin: 10px 0;


}




.etiqueta p {


    margin: 6px 0;


    font-size: 14px;


}




.etiqueta span {


    font-weight: bold;


}





.etiqueta-preview button {


    padding: 12px 25px;


    border: none;


    border-radius: 8px;


    cursor: pointer;


    background: #111;


    color: white;


    font-size: 15px;



}






/* IMPRESSÃO */


@media print {



body * {


    visibility: hidden;


}




.etiqueta,


.etiqueta * {


    visibility: visible;


}




.etiqueta {


    position: absolute;


    left: 0;


    top: 0;


}



}