rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    // =====================================
    // USUÁRIO LOGADO
    // =====================================

    function usuarioLogado() {
      return request.auth != null;
    }


    // =====================================
    // PERFIL DO USUÁRIO
    // =====================================

    function perfilUsuario() {
      return get(
        /databases/$(database)/documents/usuarios/$(request.auth.uid)
      );
    }


    // =====================================
    // EMPRESA DO USUÁRIO
    // =====================================

    function idEmpresaUsuario() {
      return perfilUsuario().data.idEmpresa;
    }


    // =====================================
    // USUÁRIO ATIVO
    // =====================================

    function usuarioAtivo() {
      return usuarioLogado()
        &&
        perfilUsuario().data.status == "ativo";
    }


    // =====================================
    // PRODUTOS
    // =====================================

    match /produtos/{produtoId} {

      // Somente produtos vinculados à empresa
      // do usuário logado.
      allow read: if
        usuarioAtivo()
        &&
        idEmpresaUsuario() in resource.data.empresas;


      allow create: if
        usuarioAtivo()
        &&
        idEmpresaUsuario() in request.resource.data.empresas;


      allow update: if
        usuarioAtivo()
        &&
        idEmpresaUsuario() in resource.data.empresas
        &&
        idEmpresaUsuario() in request.resource.data.empresas;


      allow delete: if
        usuarioAtivo()
        &&
        idEmpresaUsuario() in resource.data.empresas;
    }


    // =====================================
    // ESTOQUE
    // =====================================

    match /estoque/{estoqueId} {

      allow read: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario();


      allow create: if
        usuarioAtivo()
        &&
        request.resource.data.idEmpresa == idEmpresaUsuario();


      allow update: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario()
        &&
        request.resource.data.idEmpresa == idEmpresaUsuario();


      allow delete: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario();
    }


    // =====================================
    // PRODUÇÕES
    // =====================================

    match /producoes/{producaoId} {

      allow read: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario();


      allow create: if
        usuarioAtivo()
        &&
        request.resource.data.idEmpresa == idEmpresaUsuario();


      allow update: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario()
        &&
        request.resource.data.idEmpresa == idEmpresaUsuario();


      allow delete: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario();
    }


    // =====================================
    // MOVIMENTAÇÕES
    // =====================================

    match /movimentacoes/{movimentacaoId} {

      allow read: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario();


      allow create: if
        usuarioAtivo()
        &&
        request.resource.data.idEmpresa == idEmpresaUsuario();


      allow update: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario()
        &&
        request.resource.data.idEmpresa == idEmpresaUsuario();


      allow delete: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario();
    }


    // =====================================
    // ETIQUETAS
    // =====================================

    match /etiquetas/{etiquetaId} {

      allow read: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario();


      allow create: if
        usuarioAtivo()
        &&
        request.resource.data.idEmpresa == idEmpresaUsuario();


      allow update: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario()
        &&
        request.resource.data.idEmpresa == idEmpresaUsuario();


      allow delete: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario();
    }

// =====================================
// CONSULTAS PÚBLICAS DE ETIQUETAS
// =====================================

match /consultasPublicas/{codigoEtiqueta} {

  // Qualquer pessoa que tenha o QR pode consultar
  allow read: if true;

  // Somente usuário ativo pode criar
  // uma consulta pública vinculada à própria empresa
  allow create: if
    usuarioAtivo()
    &&
    request.resource.data.idEmpresa == idEmpresaUsuario();

  // Não permitir alteração ou exclusão pública
  allow update, delete: if false;
}
    // =====================================
    // AUDITORIA
    // =====================================

    match /auditoria/{auditoriaId} {

      allow read: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario();


      allow create: if
        usuarioAtivo()
        &&
        request.resource.data.idEmpresa == idEmpresaUsuario();


      allow update: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario()
        &&
        request.resource.data.idEmpresa == idEmpresaUsuario();


      allow delete: if
        usuarioAtivo()
        &&
        resource.data.idEmpresa == idEmpresaUsuario();
    }

// =====================================
// USUÁRIOS
// MULTIEMPRESA
// =====================================

match /usuarios/{userId} {

  // -------------------------------------
  // LER USUÁRIOS DA PRÓPRIA LOJA
  // -------------------------------------

  allow read: if
    usuarioAtivo()
    &&
    resource.data.idEmpresa == idEmpresaUsuario();


  // -------------------------------------
  // CRIAR USUÁRIO NA PRÓPRIA LOJA
  // -------------------------------------

  allow create: if
    usuarioAtivo()
    &&
    request.resource.data.idEmpresa == idEmpresaUsuario();


  // -------------------------------------
  // EDITAR USUÁRIO DA PRÓPRIA LOJA
  // -------------------------------------

  allow update: if
    usuarioAtivo()
    &&
    resource.data.idEmpresa == idEmpresaUsuario()
    &&
    request.resource.data.idEmpresa == idEmpresaUsuario();


  // -------------------------------------
  // EXCLUIR USUÁRIO DA PRÓPRIA LOJA
  // -------------------------------------

  allow delete: if
    usuarioAtivo()
    &&
    resource.data.idEmpresa == idEmpresaUsuario();

}


    // =====================================
    // EMPRESAS
    // =====================================

    match /empresas/{empresaId} {

      allow read: if
        usuarioAtivo()
        &&
        empresaId == idEmpresaUsuario();

      allow create, update, delete: if false;
    }


    // =====================================
    // BLOQUEAR TODO O RESTANTE
    // =====================================

    match /{document=**} {

      allow read, write: if false;
    }
  }
}